# Generic
# --------------------------
Thumbs.db
Desktop.ini
.directory
*.cache
*.log
*.old
*.zip
._
*~

# IDE Project Configurations
# --------------------------
/.idea
/.settings
/*.sublime-*

# Developments
# --------------------------
node_modules

# But Keep these
# --------------------------
!.gitkeep
