
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@charset 'utf-8';
:root {
  --border-color: #ddd;
  --background-color: #fff;

  --input-border-color: #ccc;
  --input-background-color: #ddd;

  --table-header-color: #eee;
  --input-background-color: #fff;

  --link-color: #396ea1;
  --footer-height: 220px;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/* Main */
* {
  box-sizing: border-box;
}
*::before,
  *::after {
    box-sizing: border-box;
  }
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  min-width: 800px;
}
body {
  padding-top: 96px;
  margin-bottom: var(--footer-height);
}
.hidden,
.hide {
  display: none;
}
.nobr {
  white-space: nowrap;
}
.linkbox {
  padding: 10px 15px;
}
a {
  text-decoration: none;
  border: 0;
  color: var(--link-color);
}
blockquote {
  padding: 5px 15px;
  margin: 0;
  border-left: 5px solid var(--border-color);
  background-color: #f8f8f8;
}
ul a,
ol a,
table a {
  display: inline-block;
}
table {
  width: 100%;
}
table .colhead {
    background: var(--table-header-color);
    border-bottom: 1px solid var(--border-color);
  }
table .colhead_dark {
    border-bottom: 1px solid var(--border-color);
  }
table td {
    line-height: 1.4em;
    padding: 4px;
  }
table .sign {
    width: 5%;
  }
table .colhead_dark td {
    padding-top: 10px;
  }
table td.label {
    text-align: right;
  }
table tr:hover td {
    background: #eee;
  }
#forums table tr:hover td {
  background: transparent;
}
input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  border: 1px solid var(--input-border-color);
  line-height: 1.2em;
  padding: 4px;
  font-size: 12px;
  border-radius: 3px;
}
input[type="text"],
input[type="email"],
input[type="password"],
select {
  height: 28px;
}
#header,
#content,
#footer {
  clear: both;
  float: none;
}
#header::after, #content::after, #footer::after {
    content: '';
    clear: both;
    display: table;
  }
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#logo {
  position: absolute;
  top: 24px;
  left: 0;
  padding: 6px 5px;
}
#logo a {
    width: 307px;
    background: url(logo.png) no-repeat;
    height: 60px;
    display: block;
    background-size: 307px 60px;
  }
#userinfo,
#searchbars {
  background: #ddd;
}
#userinfo,
#menu,
#searchbars {
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#userinfo::after, #menu::after, #searchbars::after {
    content: '';
    clear: both;
    display: table;
  }
#userinfo ul, #menu ul, #searchbars ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
  }
#userinfo ul li, #menu ul li, #searchbars ul li {
      float: left;
    }
#menu {
  background: #eee;
}
#userinfo #userinfo_stats {
  float: left;
  color: #444;
  border-left: 0;
}
#userinfo ul {
  padding: 0 5px;
  border-left: 1px solid #ccc;
}
#userinfo ul li {
    font-size: 11px;
  }
#searchbars ul {
    margin-right: 10px;
  }
#searchbars ul li {
      padding: 5px 0;
    }
#searchbars input[type="text"] {
    border: 1px solit transparent;
    padding: 2px 9px;
    font-size: 11px;
    line-height: 1.8em;
    background: #ccc;
    margin-right: 5px;
  }
#searchbars input[type="text"]:focus,
    #searchbars input[type="text"]:active {
      outline: 0;
      border-color: var(--link-color);
    }
#userinfo ul a,
#userinfo #userinfo_stats li,
#menu ul a {
  display: block;
  line-height: 2em;
}
#userinfo ul a,
#userinfo #userinfo_stats li {
  padding: 0 7px;
}
#menu ul a {
  padding: 6px 14px;
}
#userinfo a:hover,
#menu a:hover {
  background: #d2d2d2;
}
#userinfo #userinfo_stats li a {
  padding: 0;
}
#userinfo > #userinfo_username {
  float: right;
}
#alerts {
  text-align: center;
  position: absolute;
  width: auto;
  top: 90px;
  left: 8px;
  padding: 0 5px;
  border: 1px solid #e6c484;
  background-color: #f7e3be;
  border-radius: 4px;
  color: #a0834d;
}
#alerts a {
    display: inline-block;
    font-weight: 600;
    color: #a0834d;
  }
.save_message {
  margin: 0 20px;
  padding: 10px;
  border: 1px solid #8ec286;
  border-radius: 4px;
  background-color: #b9e4b2;
  text-align: center;
  color: #52734c;
}
#left_poll,
#center_poll,
#right_poll {
  height: 9px;
  float: left;
  margin: 0;
  padding: 0;
}
#left_poll,
#right_poll {
  width: 2px;
  background: red;
}
#center_poll {
  background: #b8e262;
}
#content {
  background-color: #fff;
  position: relative;
  padding: 0 20px 20px;
  z-index: 2;
}
#content ul,
  #content ol {
    margin: 0;
    padding: 0 0 0 25px;
  }
#content .poll {
    list-style: none;
    padding: 0;
  }
#content .poll li {
      padding: 0 0 0 10px;
      margin: 0;
    }
#content .poll .graph {
      margin-top: 2px;
      margin-bottom: 3px;
    }
#content .poll .graph::after {
      content: '';
      clear: both;
      display: table;
    }
#content .stats li {
    padding: 0 0 1px 0;
  }
#content > .thin {
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
    padding: 20px 0 0;
  }
#content > .thin > h2 {
      display: block;
      margin: 0 0 10px;
      padding: 10px 0;
      border-bottom: 1px solid var(--border-color);
    }
#content .box {
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.6em;
  }
#content .filter_torrents > h3,
  #content .box .head {
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 5px 0 10px;
    border-bottom: 1px solid var(--border-color);
  }
#content .forum_post {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0;
  }
#content .forum_post td {
      padding: 10px 15px;
    }
#content .forum_post .avatar {
      width: 25%;
    }
#content .forum_post .body {
      border-left: 1px solid var(--border-color);
      width: 75%;
    }
#content .forum_post .postcontent {
      line-height: 1.6em;
      font-size: 1.1em;
    }
#content .forum_post .signature {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid var(--border-color);
    }
#content .filter_torrents .cat_list {
      border-top: 1px solid var(--border-color);
      margin-top: 5px;
    }
#content .filter_torrents .cat_list td {
      padding-top: 5px;
    }
#content .filter_torrents .submit {
      border-top: 1px solid var(--border-color);
      margin-top: 5px;
      padding-top: 5px;
    }
#content .sidebar {
    width: 30%;
    float: right;
  }
#content .sidebar .box {
      padding-left: 20px;
    }
#content .main_column {
    width: 70%;
  }
#content #reseed_box {
    border: 1px solid var(--border-color);
    padding: 10px;
  }
#content #reseed_box .head {
      border-bottom: 0;
      padding: 0;
      margin: 0;
    }
#content #reseed_box .pad {
      border-bottom: 0;
      padding-top: 10px;
      margin-top: 10px;
    }
#forums .linkbox {
  border-bottom: 1px solid var(--border-color);
}
.torrent_table {
  margin-left: 0.5px;
}
.torrent_table div.tags {
    font-weight: normal;
  }
.torrent_table tr {
    vertical-align: top;
  }
.torrent_table tr.torrent,
    .torrent_table tr.group,
    .torrent_table tr.torrent_redline,
    .torrent_table tr.group_redline {
      font-weight: bold;
    }
.torrent_table tr.group_torrent_redline {
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
    }
.torrent_table tr.group,
    .torrent_table tr.torrent {
      background-color: #fff;
    }
.torrent_table tr.group_torrent {
      background-color: #f8f8f8;
    }
.torrent_table tr.group_redline,
    .torrent_table tr.group_torrent_redline,
    .torrent_table tr.torrent_redline {
      background-color: #fbf1f1;
    }
.torrent_table tr .center {
      vertical-align: middle;
      text-align: center;
    }
.group_torrent span,
.group_torrent_redline span {
  float: right;
}
.torrent span,
.torrent_redline span {
  font-weight: normal;
  float: right;
}
#footer {
  background: #dedede;
  padding: 15px 3rem;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
}
#footer #disclaimer_container {
    line-height: 1.8em;
  }
#footer p {
    margin: 7px 0;
    font-size: 11px;
    text-align: center;
    color: #666;
  }
