* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  padding: 0;
  color: var(--text-color);
  min-width: var(--container-width);
}

html {
  margin: 0;
  font-family: var(--font-family);
  font-size: 13px;
}

body {
  --footer-height: 130px;

  &#index {
    --footer-height: 240px;
  }

  background-color: var(--background-color);
  margin-bottom: var(--footer-height);
  padding-top: 96px;
}

.hidden,
.hide {
  display: none;
}

.nobr {
  white-space: nowrap;
}

.linkbox {
  padding: 10px 15px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  border: 0;
  color: var(--link-color);
  font-weight: inherit;
  font-size: inherit;
  display: inline-block;
  line-height: inherit;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    text-decoration: underline;
    filter: brightness(1.1);
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"],
input[type="submit"],
select,
textarea {
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
  line-height: 1.2em;
  font-size: inherit;
  border-radius: 3px;
  color: inherit;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"],
input[type="submit"],
select {
  height: 28px;
}

input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"],
select,
label {
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  padding: 2px 8px;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--link-color);
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
  }
}

input[type="button"],
input[type="submit"] {
  padding: 2px 10px;
}

input[type="radio"],
input[type="checkbox"] {
  & + label {
    cursor: pointer;
    color: var(--link-color);

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      outline: none;
      text-decoration: underline;
      filter: brightness(1.1);
    }
  }
}

input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
  }
}

pre,
blockquote {
  color: inherit !important;
  padding: 8px 0 8px 10px;
  margin: 0;
  background-color: rgb(145 145 145 / 10%);
}

blockquote {
  border-left: 5px solid var(--border-color);
}

span {
  .size1 {
    font-size: 0.75em;
  }

  .size2 {
    font-size: 1em;
  }

  .size3 {
    font-size: 1.25em;
  }

  .size4 {
    font-size: 1.5em;
  }

  .size5 {
    font-size: 1.75em;
  }

  .size6 {
    font-size: 2em;
  }

  .size7 {
    font-size: 2.25em;
  }

  .size8 {
    font-size: 2.5em;
  }

  .size9 {
    font-size: 2.75em;
  }

  .size10 {
    font-size: 3em;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  td {
    font-weight: inherit;
    line-height: 1.4em;
    padding: 7px 4px;
  }

  [class^=colhead] td,
  [class^=row] td,
  [class*=torrent] td {
    border-bottom: 1px solid var(--table-border-color);
  }

  .forum_group_header,
  [class^=colhead] {
    font-weight: 600;
  }

  [class^=colhead] td {
    background-color: var(--table-header-background-color);
    backdrop-filter: blur(1.5rem);
    position: sticky;
    top: 99px;
  }

  .rowa td {
    background-color: var(--table-row-background-color);
  }

  .sign {
    width: 5%;
  }

  .label {
    text-align: right;
    cursor: default;
  }

  .min_padding {
    margin: 0;
  }
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 24px;
  height: 100vh;
  background-color: rgb(0 0 0 / 60%);
  backdrop-filter: blur(1.5rem);

  &,
  img {
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
}

#header,
#content,
#footer {
  clear: both;
  float: none;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
