* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  min-width: var(--container-width);
}

body {
  padding-top: 96px;
  margin-bottom: var(--footer-height);
}

.hidden,
.hide {
  display: none;
}

.nobr {
  white-space: nowrap;
}

.linkbox {
  padding: 10px 15px;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  border: 0;
  color: var(--link-color);
}

blockquote {
  padding: 5px 15px;
  margin: 0;
  border-left: 5px solid var(--border-color);
  background-color: #f8f8f8;
}

ul a,
ol a,
table a {
  display: inline-block;
}

table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  td {
    font-weight: inherit;
    line-height: 1.4em;
    padding: 7px 4px;
  }

  [class^=colhead],
  [class^=row],
  [class*=torrent] {
    td {
      border-top: 1px solid var(--table-border-color);
      border-bottom: 1px solid var(--table-border-color);
    }
  }

  .forum_group_header,
  [class^=colhead] {
    font-weight: 600;
  }

  [class^=colhead] td {
    background-color: var(--table-header-background-color);
    position: sticky;
    top: 102px;
  }

  .rowa td {
    background-color: var(--header-background-color);
  }

  .sign {
    width: 5%;
  }

  .colhead_dark td {
    padding-top: 10px;
  }

  td.label {
    text-align: right;
  }

  tr:hover td {
    background: var(--table-header-color);
  }

  .min_padding {
    margin: 0;
  }
}

#forums table tr:hover td {
  background: transparent;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  height: 28px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
  line-height: 1.2em;
  padding: 2px 4px;
  font-size: inherit;
  border-radius: 3px;

  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: var(--link-color);
  }
}

#header,
#content,
#footer {
  clear: both;
  float: none;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
