
#left_poll,
#center_poll,
#right_poll {
  height: 9px;
  float: left;
  margin: 0;
  padding: 0;
}

#left_poll,
#right_poll {
  width: 2px;
  background: red;
}

#center_poll {
  background: #b8e262;
}

#content {
  background-color: #fff;
  position: relative;
  padding: 0 20px 20px;
  z-index: 2;

  ul,
  ol {
    margin: 0;
    padding: 0 0 0 25px;
  }

  .poll {
    list-style: none;
    padding: 0;

    li {
      padding: 0 0 0 10px;
      margin: 0;
    }

    .graph {
      margin-top: 2px;
      margin-bottom: 3px;
    }

    .graph::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  .stats li {
    padding: 0 0 1px 0;
  }

  > .thin {
    max-width: 1000px;
    min-width: 800px;
    margin: 0 auto;
    padding: 20px 0 0;

    > h2 {
      display: block;
      margin: 0 0 10px;
      padding: 10px 0;
      border-bottom: 1px solid var(--border-color);
    }
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.6em;
  }

  .filter_torrents > h3,
  .box .head {
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 5px 0 10px;
    border-bottom: 1px solid var(--border-color);
  }

  .forum_post {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0;

    td {
      padding: 10px 15px;
    }

    .avatar {
      width: 25%;
    }

    .body {
      border-left: 1px solid var(--border-color);
      width: 75%;
    }

    .postcontent {
      line-height: 1.6em;
      font-size: 1.1em;
    }

    .signature {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid var(--border-color);
    }
  }

  .filter_torrents {
    .cat_list {
      border-top: 1px solid var(--border-color);
      margin-top: 5px;
    }

    .cat_list td {
      padding-top: 5px;
    }

    .submit {
      border-top: 1px solid var(--border-color);
      margin-top: 5px;
      padding-top: 5px;
    }
  }

  .sidebar {
    width: 30%;
    float: right;

    .box {
      padding-left: 20px;
    }
  }

  .main_column {
    width: 70%;
  }

  #reseed_box {
    border: 1px solid var(--border-color);
    padding: 10px;

    .head {
      border-bottom: 0;
      padding: 0;
      margin: 0;
    }

    .pad {
      border-bottom: 0;
      padding-top: 10px;
      margin-top: 10px;
    }
  }
}

#forums .linkbox {
  border-bottom: 1px solid var(--border-color);
}
