#footer {
  background: #dedede;
  padding: 15px 3rem;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);

  #disclaimer_container {
    line-height: 1.8em;
  }

  p {
    margin: 7px 0;
    font-size: 11px;
    text-align: center;
    color: #666;
  }
}
