#logo {
  position: absolute;
  top: 24px;
  left: 0;
  padding: 6px 5px;

  a {
    width: 307px;
    background: url('logo.png') no-repeat;
    height: 60px;
    display: block;
    background-size: 307px 60px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--header-background-color);
  backdrop-filter: blur(1.5rem);
  min-width: var(--container-width);

  a {
    color: var(--header-link-color);
  }

  a:hover,
  a:active,
  a:focus,
  a:focus-visible {
    text-decoration: none;
  }

  strong {
    display: inline-block;
  }

  ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
  }

  li {
    float: left;
    line-height: 2em;
  }
}

#userinfo,
#searchbars {
  background: var(--header-main-background-color);
}

#userinfo,
#menu,
#searchbars {
  width: 100%;
  border-bottom: 1px solid var(--border-color);

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

#userinfo {
  ul {
    padding: 0 5px;
    border-left: 1px solid var(--border-color);

    &#userinfo_stats {
      float: left;
      border-left: 0;
    }
  }

  li {
    font-size: 11px;
    padding: 0;
  }

  a:link {
    padding: 0 7px;
  }

  > #userinfo_username {
    float: right;
  }
}

#menu {
  a:link {
    padding: 6px 13px;
  }

  a:hover,
  a:active,
  a:focus,
  a:focus-visible,
  #index & #nav_index a,
  #torrents & #nav_torrents a,
  #artists & #nav_artists a,
  #requests & #nav_requests a,
  #collages & #nav_collages a,
  #forums & #nav_forums a,
  #top10 & #nav_top10 a,
  #rules & #nav_rules a,
  #staff & #nav_staff a,
  #irc & #nav_irc a,
  #streaming & #nav_tv a,
  #wiki & #nav_wiki a,
  #kb2 & #nav_kb a {
    background-color: var(--header-link-hover-background-color);
  }
}

#searchbars {
  ul {
    margin-right: 10px;
  }

  li {
    padding: 5px 0;
  }

  input[type="text"] {
    font-size: 11px;
    line-height: 1.8em;
    margin-right: 5px;

    &:active,
    &:focus,
    &:focus-visible {
      border-color: var(--link-color);
    }
  }
}
