@charset 'utf-8';

@import 'variables.css';
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'normalize.css';

/* Main */
@import 'base.css';
@import 'header.css';
@import 'alerts.css';
@import 'content.css';
@import 'torrent.css';
@import 'footer.css';

body {
  --footer-height: 130px;

  &#index {
    --footer-height: 220px;
  }

  margin-bottom: var(--footer-height);

  #footer {
    height: var(--footer-height);
  }
}
