@charset 'utf-8';

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'normalize.css';
@import 'base.css';
@import 'header.css';
@import 'alerts.css';
@import 'content.css';
@import 'torrent.css';
@import 'footer.css';
