.filter_torrents {
  td {
    padding: 4px 10px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
  }

  .cat_list {
    border-top: 1px solid var(--border-color);
    margin-top: 10px;

    td {
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  .submit {
    border-top: 1px solid var(--border-color);
    padding-top: 10px;

    input[type="submit"],
    input[type="button"] {
      float: right;
      margin: 0 3px;
    }
  }
}

.torrent_table {
  margin-left: 0.5px;

  div.tags {
    font-weight: normal;
  }

  tr {
    vertical-align: top;
  }

  [class*=_redline] td {
    background-color: #ffd2d2;
    border-color: #d38c8c;
  }

  .center {
    vertical-align: middle;
    text-align: center;
  }

  [class*=torrent] span {
    float: right;
  }
}
