.torrent_table {
  margin-left: 0.5px;

  div.tags {
    font-weight: normal;
  }

  tr {
    vertical-align: top;
  }

  [class*=_redline] td {
    background-color: #ffd2d2;
    border-color: #d38c8c;
  }

  .center {
    vertical-align: middle;
    text-align: center;
  }

  [class*=torrent] span {
    float: right;
  }
}
