:root {
  --container-width: 1130px;
  --font-family: system-ui, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* stylelint-disable-line max-line-length */
  --table-background-color: transparent;

  @media screen and (prefers-color-scheme: light) {
    --background-color: #fff;
    --border-color: #c4c4c4;
    --text-color: #000;
    --link-color: #597e91;
    --header-background-color: rgb(230 230 230 / 50%);
    --header-main-background-color: rgb(203 203 203 / 50%);
    --header-link-hover-background-color: rgb(217 217 217 / 50%);
    --input-background-color: #f3f3f3;
  }

  @media screen and (prefers-color-scheme: dark) {
    --background-color: #222;
    --border-color: #555;
    --text-color: #a9a9a9;
    --link-color: #3b8eac;
    --header-background-color: rgb(53 53 53 / 50%);
    --header-main-background-color: rgb(31 31 31 / 50%);
    --header-link-hover-background-color: rgb(80 80 80 / 50%);
    --input-background-color: #383838;
  }

  --input-border-color: var(--border-color);
  --header-link-color: var(--link-color);
  --table-row-background-color: var(--header-background-color);
  --table-header-background-color: var(--header-background-color);
  --table-border-color: var(--border-color);
}
