:root {
  --container-width: 1130px;
  --background-color: #fff;
  --border-color: #c4c4c4;
  --text-color: #000;
  --header-background-color: #eee;
  --header-main-background-color: #dedede;
  --input-background-color: #f3f3f3;
  --input-border-color: var(--border-color);
  --table-header-background-color: #e1e1e1;
  --table-row-background-color: #f6f6f6;
  --table-background-color: #fff;
  --table-border-color: var(--border-color);
  --link-color: #396ea1;
  --footer-height: 220px;
}
