:root {
  --container-width: 1135px;
  --background-color: #fff;
  --border-color: #c4c4c4;
  --header-background-color: #eee;
  --header-main-background-color: #dedede;
  --input-background-color: #ddd;
  --input-border-color: var(--border-color);
  --table-header-background-color: #eee;
  --table-background-color: #fff;
  --table-border-color: var(--border-color);
  --link-color: #396ea1;
  --footer-height: 220px;
}
